/* Allgemeine Stile */
body {
  font-family: Garamond, serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}

/* Navigation styling */
.nav {
  font-family: Garamond, serif;
  font-size: 16px; /* Größere Schriftgröße */
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #000000b6; /* Dunklerer Hintergrund */
  border-bottom: 2px solid #fff; /* Hinzufügen einer unteren Border */
  position: fixed; /* Fixierte Positionierung */
  width: 100%; /* Breite auf 100% setzen */
  top: 0; /* Oben ausrichten */
  left: 0;
  z-index: 1000; /* Z-Index setzen, um über anderen Inhalten zu liegen */
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 15px 20px; /* Größere Polsterung für mehr Interaktivität */
  color: #fff;
  text-decoration: none;
  transition: color 0.3s; /* Hinzufügen von Übergangseffekten */
}

.nav a:hover {/* Farbe ändern beim Hover */
  background-color: #555; /* Hintergrundfarbe ändern beim Hover */
}

footer {
  font-family: Garamond, serif;
  font-size: 14px; 
  color:  #333; 
  text-align: center; 
  width: 100%; 
  bottom: 0; 
}
/* Container */

.container {
  padding: 20px 0;
}

/* Inhalt */

.content {
  padding: 20px 0;
  text-align: center;
}

h1 {
  font-family: Garamond, serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: Garamond, serif;
  color: #444444;
  text-align: center;
}

a.btn {
  background-color:  #007bff;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
}