<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="./static/chatbot.css">
</head>

<body>
    <div>
        <ul class="nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="chatbot.html">Chatbot</a></li>
            <li><a class="active" href="contact.html">Contact</a></li>
        </ul>
    </div>

    <h1>Ich bin Amti, Dein persönlicher Chatbot!</h1>
    <div id="chat-response">
    </div>

    <div id="chat-container">
        <form id="chat-form">
            <input type="text" id="user-input" name="user_input" placeholder="Enter your message...">
            <button type="submit">Send</button>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#chat-form').submit(function(event) {
                event.preventDefault();
                var userInput = $('#user-input').val();
                $.ajax({
                    url: '/predict',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({user_input: userInput}),
                    success: function(response) {
                        var userMessage = '<div class="bubble user-bubble">' + userInput + '</div>';
                        var botMessage = '<div class="bubble bot-bubble">' + response.response + '</div>';
                        $('#chat-response').append(userMessage);
                        $('#chat-response').append(botMessage);
                        $('#user-input').val('');
                        // Scroll to the bottom of the chat container
                        $('#chat-response').scrollTop($('#chat-response')[0].scrollHeight);
                    }
                });
            });
        });
    </script>
</body>
</html>